/*
 * Assignment 02
 * CSS FILE
 */

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f9ebf7;
  display: flex;
  justify-content:center;
  align-items: start;
}


 

header {
  color: #f1faeeff;
  margin: 0rem 0 0rem 0;
  padding: 1rem
}

header .img {

}

header .body h1 {
  margin: 10rem;
  font-weight:900;
  text-decoration:underline;
  font-size: larger;
  letter-spacing: 0.20rem;
}

header nav {
  margin: 8rem;

}

header nav ul {
  list-style: none;
  padding: 0rem;
}

header a {
  color: rgb(34, 41, 46);
  text-decoration:none;
}

header a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  color: #023047;
}